
body, h1, p, ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
h1:hover {
    color: #0056b3;
    
}
p {
    color: #333;
    margin-bottom: 10px;
}


ul {
    list-style: none;
    padding: 0;
   
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* Quiz options styling */
.question-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Button styling */
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin: 10px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive design */
@media screen and (max-width: 600px) {
    .container {
        margin: 20px auto;
        padding: 10px;
    }
}
